<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.53" targetFramework="net461" />
  <package id="Syncfusion.SfDiagram.WPF" version="17.4.0.53" targetFramework="net461" />
  <package id="Syncfusion.SfShared.WPF" version="17.4.0.53" targetFramework="net461" />
</packages>